.iconContainer {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow-x: auto; 
  transition: transform 0.5s ease-in-out; 
  width: max-content;
  }

  .iconWrapper {
    text-align: center;
  }


.icon{
    width:100px;
    margin-top: 82px;
    border-radius: 50%;
    height:100px;
    object-fit: cover;
    margin-right: 40px;
    margin-left: 23px;
    box-shadow: 0 8px 12px rgba(128, 0, 0, 0.5), 0 0 15px rgba(128, 0, 0, 0.7);
    border: 2px solid rgb(245, 234, 214);
  transition: transform 0.3s, box-shadow 0.3s;
}

.icon:hover {
  transform: scale(1.1); 
  box-shadow: 0 10px 20px red, 0 0 20px red;
}

.text{
  padding-top: 10px;
    margin-right: 35px;
    margin-left:7px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    color:#333;
    font-size: 18px;
}

.iconWrapper:hover .text {
  color:crimson;
  }

