*{
  margin:0;
  padding:0;
}

html{
  scroll-behavior: smooth;
}


.App{
  background-color:#DED0B6;
}

.Navbar{
  height:80px;
  background: rgb(231, 223, 216);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom:2px solid #a68a82;
}

.Navbar a{
  text-decoration: none;
  font-size:30px;
  color:rgb(199, 165, 136);
   margin-right: 100px;
   outline: none;
   font-weight: 600;
    
}

.Navbar a:hover{
  color:rgb(218, 158, 105);
}

.logo{
  color:rgb(158, 64, 64);
   font-size:40px;
   margin-right: 134px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo:hover{
  font-size:43px;
  transition-property: all;
  transition-duration: 0.9s;
  transition-timing-function:ease-out;
  cursor:pointer;
}

.footer {
  background-color:rgb(97, 28, 28);
  color: #fff;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  height:250px;
}

.footerContent {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  margin-top: 44px;
}

.footname:hover{
    color:#a68a82;
}

.footerPara {
  margin: 8px 0;
  font-size: 14px;
  color: #bbb;
}

.logo2{
  width:50px;
  height:50px;
  margin-left: 10px;
  margin-top: 13px;
  margin-right: 10px;
}

.footerBlogspotMessage{
  word-spacing: 3px;
  line-height: 42px;
  font-style: italic;
  color: #DED0B6;
}




